:root {
  /* ### Primary */
  --color--Light-red: hsl(0, 100%, 67%);
  --color--Light-red-back: hsla(0, 100%, 67%, 0.1);
  --color--Orangey-yellow: hsl(39, 100%, 56%);
  --color--Orangey-yellow-back: hsl(39, 100%, 56%, 0.1);
  --color--Green-teal: hsl(166, 100%, 37%);
  --color--Green-teal-back: hsl(166, 100%, 37%, 0.1);
  --color--Cobalt-blue: hsl(234, 85%, 45%);
  --color--Cobalt-blue-back: hsl(234, 85%, 45%, 0.1);

  /* ###Gradients */
  /* (background) */
  --gradients--Light-slate-blue: hsl(252, 100%, 67%);
  --gradients--Light-royal-blue: hsl(241, 81%, 54%);

  /* (circle) */
  --gradients--Violet-blue: hsla(256, 72%, 46%, 1);
  --gradients--Persian-blue: hsla(241, 72%, 46%, 0);

  /* ### Neutral */

  --color--White: hsl(0, 0%, 100%);
  --color--Pale-blue: hsl(221, 100%, 96%);
  --color--Light-lavender: hsl(241, 100%, 89%);
  --color--Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

#section1 {
  background-image: linear-gradient(
    var(--gradients--Light-slate-blue),
    var(--gradients--Light-royal-blue)
  );

  padding: 20px 20px 30px 20px;

  border-radius: 0 0 2em 2em;
  text-align: center;
}

.section1-h3,
.section1-span {
  color: var(--color--Light-lavender);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;

  white-space: initial;
}

.section1-h2 {
  color: var(--color--Pale-blue);
  padding: 10px;
}

.section1-div {
  display: inline-block;
  margin: 10px;
  padding: 20px 40px;
  border-radius: 100%;
  background-image: linear-gradient(
    var(--gradients--Violet-blue),
    var(--gradients--Persian-blue)
  );
}
.section1-div-title {
  color: var(--color--White);
  font-weight: 800;
  font-size: 3.5rem;
  padding-bottom: 10px;
}

.section1-div-span {
  color: var(--color--Light-lavender);
}

/* ---------------------------------------- */

#section2 {
  background: var(--color--White);
  padding: 30px;
  /* border: 1px solid #000; */
  /* text-align: center; */
  font-size: 18px;
}

.section2-h3 {
  color: var(--color--Dark-gray-blue);
  text-align: left;
  padding-bottom: 30px;
  /* border: 1px solid #000; */
}

.container {
  display: block;
  /* border: 1px solid #000; */
  font-size: 16px;
}
ul {
  list-style: none;
}

li {
  /* border: 1px solid #000; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.fa-bolt {
  color: var(--color--Light-red-back);
}
.fa-brain {
  color: var(--color--Orangey-yellow);
}
.fa-comment-dots {
  color: var(--color--Green-teal);
}
.fa-eye {
  color: var(--color--Cobalt-blue);
}

#section2-test-1 {
  background: var(--color--Light-red-back);
  font-weight: 600;
}

#section2-test-1-valor {
  color: var(--color--Light-red);
}

#section2-test-2 {
  background: var(--color--Orangey-yellow-back);
  font-weight: 600;
}

#section2-test-2-valor {
  color: var(--color--Orangey-yellow);
}

#section2-test-3 {
  background: var(--color--Green-teal-back);
  font-weight: 600;
}

#section2-test-3-valor {
  color: var(--color--Green-teal);
}

#section2-test-4 {
  background: var(--color--Cobalt-blue-back);
  font-weight: 600;
}

#section2-test-4-valor {
  color: var(--color--Cobalt-blue);
}

#sobre-cien {
  color: var(--color--Dark-gray-blue);
  font-weight: 800;
}

#cien {
  color: var(--color--Light-lavender);
  font-weight: 700;
}

button {
  background: var(--color--Dark-gray-blue);
  color: var(--color--White);
  padding: 15px;
  width: 100%;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
}

/* Mobile */
@media (min-width: 768px) {
  main {
    background: var(--color--White);
    display: block;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  main {
    background-color: var(--color--White);
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  #section1 {
    border-radius: 2em 2em;
    width: 25%;
    height: 380px;
    position: relative;
    right: -22px;
  }
  #section2 {
    border-radius: 0 0.5em 0.5em 0;
    width: 25%;
    background: #f5f5f5;
    margin-left: -5px;
    box-shadow: 0px 5px 20px 5px rgba(14, 1, 1, 0.2);
  }
  .section2-div {
    margin-left: 10px;
  }
}
